<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <button *ngIf='i === 0' class='start-button' (click)="onClick1()">{{startButtonText}}</button>
    <button *ngIf='i === 1' class='start-button1' (click)="onClick1()">{{button1text}}</button>
    <button *ngIf='i === 1' class='start-button2' (click)="onClick2()">{{button2text}}</button>
    <button *ngIf='i === 1' class='start-button3' (click)="onClick3()">{{button3text}}</button>
    <button *ngIf='i === 2' class='start-button4' (click)="onClick1()">{{button1text}}</button>
    <button *ngIf='i === 2' class='start-button5' (click)="onClick2()">{{button2text}}</button>
    <button *ngIf='i === 2' class='start-button6' (click)="onClick3()">{{button3text}}</button>
    <button *ngIf='i === 3' class='start-button7' (click)="onClick1()">{{button1text}}</button>
    <button *ngIf='i === 3' class='start-button8' (click)="onClick2()">{{button2text}}</button>
    <button *ngIf='i === 3' class='start-button9' (click)="onClick3()">{{button3text}}</button>
    <button *ngIf='i === 4' class='start-button10' (click)="onClick1()">{{button1text}}</button>
    <button *ngIf='i === 4' class='start-button11' (click)="onClick2()">{{button2text}}</button>
    <button *ngIf='i === 4' class='start-button12' (click)="onClick3()">{{button3text}}</button>
    <button *ngIf='i === 5' class='start-button13' (click)="onClick1()">{{button1text}}</button>
    <button *ngIf='i === 5' class='start-button14' (click)="onClick2()">{{button2text}}</button>
    <button *ngIf='i === 5' class='start-button15' (click)="onClick3()">{{button3text}}</button>
    <img [src]='image' id=start-picture >
    <!-- <img *ngIf='gameStarted' [src]='iconImage' id=iconImage> -->
  </div>
</body>
</html>


