@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700;800&display=swap');

@font-face {
  font-family: haimeden;
  src: url('/assets/fonts/HaimG-Regular.otf');
}

body{
  background-color: 'white' ;
  display: flex;
  
}

#start-picture{
  margin-left: 500px;
  margin-top: 200px;
}

#iconImage{
  margin-left: -400px;
  margin-top: 300px;
  position: absolute;
}

button {
  font-family: haimeden;
  color: white;
  font-size: 20px;
  text-align: center;
  border: none;
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  &:hover{
    color: #b5b5b5;
  }
  &:focus {
     color: #ce0000; }
}
.start-button {
  margin-left: 725px;
  margin-top: 495px;
  }
.start-button1 {
    margin-left: 860px;
    margin-top: 503px;
}
.start-button2 {
    margin-left: 846px;
    margin-top: 567px;
}
.start-button3 {
      margin-left: 846px;
      margin-top: 639px;
}
.start-button4 {
  margin-left: 714px;
  margin-top: 504px;
  }
.start-button5 {
  margin-left: 846px;
  margin-top: 567px;
}
.start-button6 {
    margin-left: 863px;
    margin-top: 639px;
}
.start-button7 {
  margin-left: 858px;
  margin-top: 503px;
}
.start-button8 {
  margin-left: 846px;
  margin-top: 567px;
}
.start-button9 {
    margin-left: 714px;
    margin-top: 637px;
}
.start-button10 {
    margin-left: 643px;
    margin-top: 504px;
}
.start-button11 {
  margin-left: 846px;
  margin-top: 567px;
}
.start-button12 {
  margin-left: 659px;
  margin-top: 639px;
  }
.start-button13 {
    margin-left: 889px;
    margin-top: 503px;
}
.start-button14 {
  margin-left: 846px;
  margin-top: 567px;
}
.start-button15 {
  margin-left: 569px;
  margin-top: 639px;
  white-space: normal;
  width: 350px;
}
